In [70]:
import pandas

In [71]:
sourceDataframe = pandas.read_csv("/home/sunny/Downloads/2024TransactionChequingTesting.csv")

sourceDataframe.head(5)

,First Bank Card,Transaction Type,Date Posted,Transaction Amount,Description
0,'5510290081741828',DEBIT,20240102,-1725.83,[CW] TF 0004138890001781443 ...
1,'5510290081741828',DEBIT,20240102,-1010.00,[CW] TF 0000000022189762734 ...
2,'5510290081741828',DEBIT,20240102,-682.17,[CW]INTERAC ETRNSFR SENT NEHA AKKA ...
3,'5510290081741828',DEBIT,20240102,-207.42,[SO]3699#2996-772 ...
4,'5510290081741828',DEBIT,20240103,-120.00,[CW]TRIANGLE MC ...

In [72]:
current_row = sourceDataframe.iloc[2]

current_row.index

Index(['First Bank Card', 'Transaction Type', 'Date Posted',
       ' Transaction Amount', 'Description'],
      dtype='object')

In [73]:
current_row.values[4]

'[CW]INTERAC ETRNSFR SENT     NEHA AKKA                20240011804W7UVZJ        '